n8n/Finance App.json
{
  "name": "Finance App",
  "nodes": [
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "FinanceApp",
        "remoteJid": "={{ $('Organiza Dados').item.json.whatsapp }}",
        "messageText": "=✅ *Assistente Financeiro | FinanceApp*\n\nFeito, {{ $('Verifica Usuario').item.json.firstname }}!\n\n{{ $json.output }}\n\n🔵 Precisa de mais alguma coisa? Estou aqui para te ajudar com suas finanças!",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        6064,
        -112
      ],
      "id": "d89abe44-cd91-4858-989e-16051f7b2581",
      "name": "Responde o Cliente",
      "credentials": {
        "evolutionApi": {
          "id": "3kyIcxiyPWbQboBL",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2be6f6b1-e607-49c4-980d-fd03c478279a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f20361f5-f595-45a3-bf24-1ed03108835c",
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7969dbe1-785a-4853-bd58-3b89447bba1b",
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1584,
        848
      ],
      "id": "b1fd311d-36fb-4e5b-8af5-f16900f2e7b0",
      "name": "Verifica o Tipo de mensagem"
    },
    {
      "parameters": {
        "amount": 6
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2144,
        848
      ],
      "id": "16bb2ffc-3ffa-4f77-b5f4-3832ac2ddeb9",
      "name": "Wait",
      "webhookId": "7ade20f6-0cd0-4310-b46a-a7e0db015845"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2784,
        976
      ],
      "id": "9cda0452-7f8a-44c1-b1cb-52e6687f2c92",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $json.whatsapp }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3008,
        752
      ],
      "id": "959b1abc-e55a-4334-ad2c-6be6962f9d18",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "LLbD3U6rhQqfE91N",
          "name": "evolution-api-redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3cc229ad-229c-4b69-b868-afe3b2d6827b",
              "leftValue": "={{ JSON.parse($json.mensagens?.last())?.messageId }}",
              "rightValue": "={{ $('Organiza Dados').item.json.messageId }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "0425eaef-5203-47dd-b7b1-3ac716c790a7",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2544,
        848
      ],
      "id": "c52bbff5-9efa-451c-aed4-c372c6c412fc",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=Sua tarefa é analisar a imagem de um comprovante (como nota fiscal ou recibo) e extrair as seguintes informações financeiras:\n\n1.  **Valor Total:** O montante final pago. Procure por termos como \"Total\", \"Valor a Pagar\", etc.\n2.  **Estabelecimento:** O nome da loja, restaurante ou prestador de serviço. Geralmente localizado no topo do comprovante.\n3.  **Data e Hora:** A data e hora exatas da transação. Se não encontrar a data ou a hora na imagem, use a data e hora atual: {{ $now }}.\n4.  **Tipo de Movimentação:** Analise o contexto. A maioria dos recibos representa uma 'despesa'. Se for claramente um comprovante de entrada de dinheiro (ex: comprovante de depósito, salário), classifique como 'receita'. Na dúvida, use 'despesa'.\n5.  **Categoria:** Com base no nome do estabelecimento e nos itens (se visíveis), escolha a categoria *mais apropriada* da lista abaixo. Se nenhuma se encaixar perfeitamente, use 'Outros'.\n\n* **Lista de Categorias:**\n    * Alimentação (Restaurantes, Supermercados, Cafés)\n    * Transporte (Combustível, Uber, Passagem de Ônibus)\n    * Moradia (Aluguel, Contas de Luz/Água/Internet)\n    * Saúde (Farmácia, Consultas, Exames)\n    * Cuidados Pessoais (Salão de Beleza, Cosméticos)\n    * Compras (Roupas, Eletrônicos, Livros)\n    * Lazer (Cinema, Shows, Bares, Viagens)\n    * Educação (Cursos, Livros Didáticos)\n    * Outros (Qualquer outra despesa não listada)\n\n* **Formato da Resposta:**\n    * Se você não conseguir identificar *com confiança* pelo menos o **Valor Total** e o **Estabelecimento**, responda *apenas* com a palavra: `FALSE`.\n    * Caso contrário, formate a resposta em uma única frase, seguindo *exatamente* este modelo:\n        \"[Tipo de Movimentação]: R$ [Valor Total] em [Estabelecimento] no dia [Data] ([Categoria]).\"\n\n* **Exemplo de Resposta Válida:**\n    \"Despesa: R$ 75,50 em Supermercado Pague Menos no dia 25/05/2025 (Alimentação).\"",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3008,
        512
      ],
      "id": "72ed16d0-9254-4535-9eb9-9a1ddd2ab15f",
      "name": "Analiza a Imagem",
      "credentials": {
        "openAiApi": {
          "id": "ipy1c8ijBGJzZg4Z",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2448,
        512
      ],
      "id": "2587803e-0ac5-48a6-9a98-34f4dea48212",
      "name": "Converte o base64 em imagem"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "fileName": "audio.mp3",
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2464,
        1232
      ],
      "id": "53e5c5c6-3a38-4dfd-a38e-ad940e5309f1",
      "name": "Converte o base64 em áudio"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3008,
        1232
      ],
      "id": "9cd4b9d0-d284-4d5f-a9a6-5650acefff9e",
      "name": "Transcreve o audio",
      "credentials": {
        "openAiApi": {
          "id": "ipy1c8ijBGJzZg4Z",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "FinanceApp",
        "messageId": "=  {{ $('InicioChat').item.json.body.data.key.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1968,
        512
      ],
      "id": "0e43a30f-cf98-4f63-8b88-5ad29ec0236c",
      "name": "Caso não recebemos o Base64 consultamos no EVOAPI1",
      "credentials": {
        "evolutionApi": {
          "id": "3kyIcxiyPWbQboBL",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp",
              "keyValue": "={{ $json.body.data.key.remoteJid }}"
            },
            {
              "keyName": "ativo",
              "keyValue": "TRUE"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        912,
        880
      ],
      "id": "afd0846c-9e12-4209-820c-493bf662eeaa",
      "name": "Auth",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "pLSlTAliGnTEMfL9",
          "name": "Supabase account"
        }
      },
      "notes": "Verifica se o usuário existe ou está ativo."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a7697a1b-0bcb-4078-87df-de2e161b3431",
              "leftValue": "={{ $json.userId }}",
              "rightValue": 1,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1344,
        880
      ],
      "id": "a59d5291-faae-4cd8-aaaf-8b72a7d0582d",
      "name": "Verifica Usuario"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ce0dbad-71e3-4cca-b7d4-efd5cfb8888e",
              "name": "whatsapp",
              "value": "={{ $('InicioChat').item.json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "e21377a9-256b-4738-b454-666ef5c1c2dc",
              "name": "mensagem",
              "value": "={{ $('InicioChat').item.json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "7c05d433-bd72-48a4-af77-bc746a2ddc92",
              "name": "tipo",
              "value": "={{ $('InicioChat').item.json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "8602e636-3e98-4e59-b885-faf04ebf0e80",
              "name": "messageId",
              "value": "={{ $('InicioChat').item.json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "509be248-4a4f-4c53-8165-1a015d9f6f6f",
              "name": "userId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "af5f68d5-8d0d-40e1-8eff-5ff7209e36c9",
              "name": "firstname",
              "value": "={{ $json.nome.split(' ').first() }}",
              "type": "string"
            },
            {
              "id": "9133ef2a-8647-4805-90d8-82c1c299e26e",
              "name": "userId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "ab5560d5-f8db-4d20-8378-34ed8394cb97",
              "name": "instancia",
              "value": "FinanceApp",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        880
      ],
      "id": "c6c9c1d5-eb67-4b94-91cf-37c76068d773",
      "name": "Organiza Dados"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "FinanceApp",
        "remoteJid": "={{ $json.whatsapp }}",
        "messageText": "Notamos que você ainda não possui cadastro. Acesse o link para adquiri um plano: https://finance-app-finance-app.rcnehy.easypanel.host/plano",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1584,
        1088
      ],
      "id": "a53deca6-2b1d-453d-9014-33ff6bffda54",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "3kyIcxiyPWbQboBL",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "confirma-pagamento",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        528,
        2032
      ],
      "id": "dfa5aafb-a8b3-454f-ab27-d97bf0a1a55d",
      "name": "ConfirmaPagamento",
      "webhookId": "1a643f5c-49e7-41a6-b41c-5fd8f7093585"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f748fe2-c181-4a81-8fe6-91cb462edc9f",
              "name": "customerId",
              "value": "={{ $json.body.payment.customer }}",
              "type": "string"
            },
            {
              "id": "6968c50e-f26f-4fe5-8da4-0c5beaa7095f",
              "name": "subscriptionId",
              "value": "={{ $json.body.payment.subscription }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        2032
      ],
      "id": "d6fbf8b8-e998-42c1-85cd-61a1922494c7",
      "name": "FiltraDados"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://finance-app-supabase-finance-app.rcnehy.easypanel.host/auth/v1/admin/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('DadosCliente').item.json.email }}"
            },
            {
              "name": "password",
              "value": "={{ $json.senhaAleatoria }}"
            },
            {
              "name": "email_confirm",
              "value": "={{ true }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1648,
        2032
      ],
      "id": "d47eee94-3eaf-4c51-9447-56c0197713f9",
      "name": "CriaConta"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.identities[0].user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('DadosCliente').item.json.name }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('VerificaNumeroWhats').item.json.data[0].jid.split('@').first() }}"
            },
            {
              "fieldId": "whatsapp",
              "fieldValue": "={{$('VerificaNumeroWhats').item.json.data[0].jid}}"
            },
            {
              "fieldId": "customerid",
              "fieldValue": "={{ $('DadosCliente').item.json.id }}"
            },
            {
              "fieldId": "assinaturaid",
              "fieldValue": "={{ $('ConfirmaPagamento').item.json.body.payment.subscription }}"
            },
            {
              "fieldId": "cpf",
              "fieldValue": "={{ $('DadosCliente').item.json.cpfCnpj }}"
            },
            {
              "fieldId": "endereco",
              "fieldValue": "={{ $('DadosCliente').item.json.address }}"
            },
            {
              "fieldId": "n_endereco",
              "fieldValue": "={{ $('DadosCliente').item.json.addressNumber }}"
            },
            {
              "fieldId": "cep",
              "fieldValue": "={{ $('DadosCliente').item.json.postalCode }}"
            },
            {
              "fieldId": "bairro",
              "fieldValue": "={{ $('DadosCliente').item.json.province }}"
            },
            {
              "fieldId": "cidade",
              "fieldValue": "={{ $('DadosCliente').item.json.cityName }}"
            },
            {
              "fieldId": "estado",
              "fieldValue": "={{ $('DadosCliente').item.json.state }}"
            },
            {
              "fieldId": "pais",
              "fieldValue": "={{ $('DadosCliente').item.json.country }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1872,
        2032
      ],
      "id": "eea94c06-218d-4211-8f17-d203f22b9da5",
      "name": "AtualizaInfoUser",
      "credentials": {
        "supabaseApi": {
          "id": "pLSlTAliGnTEMfL9",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "instanceName": "FinanceApp",
        "numbers": "=55{{ $json.mobilePhone }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1216,
        2032
      ],
      "id": "01cffc59-4902-4259-916b-23f4b77a57c3",
      "name": "VerificaNumeroWhats",
      "credentials": {
        "evolutionApi": {
          "id": "3kyIcxiyPWbQboBL",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Cria conta usuário.\n**Após a confirmação do pagamento, criamos uma conta para o usuario no supabase.",
        "height": 420,
        "width": 1880,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        464,
        1888
      ],
      "id": "46cdfb33-fe5a-47ac-a0b2-1c57dda523fb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agente-financeiro",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        672,
        880
      ],
      "id": "1c4cc742-6baf-4603-9df3-250332da1b49",
      "name": "InicioChat",
      "webhookId": "23bb92a9-41a4-4b1b-9fb8-f028c324b367"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.whatsapp }}",
        "messageData": "={{ JSON.stringify($json) }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1952,
        848
      ],
      "id": "0e0bcf67-9bd2-4006-b982-c2ae44d26dd4",
      "name": "InsereMSG",
      "credentials": {
        "redis": {
          "id": "LLbD3U6rhQqfE91N",
          "name": "evolution-api-redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagens",
        "key": "={{ $json.whatsapp }}",
        "keyType": "list",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2352,
        848
      ],
      "id": "46e419ec-b961-42de-8bec-61cf05f41c60",
      "name": "ListaMSGs",
      "credentials": {
        "redis": {
          "id": "LLbD3U6rhQqfE91N",
          "name": "evolution-api-redis"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "96833a1a-530e-43ac-87c6-ff3fe2635b9a",
              "name": "mensagem",
              "value": "={{ \n  $('ListaMSGs').item.json.mensagens\n    .map(m => JSON.parse(m).mensagem)\n    .join(' ') \n}}",
              "type": "string"
            },
            {
              "id": "2c8e9f69-fa5c-42d1-ab15-cc315e85f82a",
              "name": "whatsapp",
              "value": "={{ $('Wait').item.json.whatsapp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2784,
        752
      ],
      "id": "3df7cd9a-0502-41c2-bb8f-650bde3f88c4",
      "name": "MontaMSG"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('CentralizaDados').item.json.content }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Sua tarefa é classificar a intenção principal da mensagem do usuário em uma das seguintes intencoes:\n\nClassifique a intenção da seguinte mensagem do usuário em uma das opções abaixo:\n\nIntenções disponíveis:\n\n- transacaoFinanceira: Quando o usuário deseja registrar, editar ou excluir uma transação (despesa ou receita).\n  Exemplos:\n    - \"Gastei 50 reais no almoço\"\n    - \"Recebi meu salário\"\n    - \"Anote 100 de mercado\"\n    - \"Entrou 500 na conta\"\n    - \"Lançar despesa de R$30 com farmácia\"\n\n- consulta: Quando o usuário quer informações sobre sua situação financeira, como saldo, extratos, resumos, maiores gastos ou análises gerais.\n  Exemplos:\n    - \"Qual meu saldo?\"\n    - \"Quanto gastei com comida este mês?\"\n    - \"Me mostra minhas últimas transações\"\n    - \"Posso ver meu extrato?\"\n    - \"Como está minha situação financeira?\"\n    - \"Estou gastando muito?\"\n    - \"Quais foram meus maiores gastos este mês?\"\n\n- lembrete: Quando o usuário deseja criar ou consultar um lembrete financeiro.\n  Exemplos:\n    - \"Me lembre de pagar o aluguel dia 5\"\n    - \"Não esquecer da fatura do cartão\"\n    - \"Lembrete: Transferir dinheiro amanhã\"\n    - \"Quando vence minha conta de luz?\"\n    - \"Quais são os meus compromissos?\"\n    - \"O que preciso pagar mes que vem?\"\n\n- indefinido: Quando a mensagem não se encaixa claramente em nenhuma das categorias acima ou for apenas uma saudação ou conversa geral.\n  Exemplos:\n    - \"Olá\"\n    - \"Tudo bem?\"\n    - \"Obrigado\"\n    - \"Qual o seu nome?\"\n    - \"Isso é útil\"\n\nInstrução:\nClassifique a seguinte mensagem do usuário em uma única palavra correspondente à intenção principal:\ntransacaoFinanceira, consulta, lembrete ou indefinido.\n\n\n*ATENÇÃO*\nResponda apenas com o nome da intencao."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        4016,
        928
      ],
      "id": "3794dfff-7a43-4815-aafc-dbebb57b403c",
      "name": "IdentificaIntencao",
      "notesInFlow": false,
      "notes": "Ajuda a identificar a intenção do usuário."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4b709d7e-6047-450d-b26c-e37907ec3061",
              "name": "content",
              "value": "={{ $json.content || $json.mensagem || $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3376,
        832
      ],
      "id": "d23ae21c-cca8-4fd6-a764-36ba185416b3",
      "name": "CentralizaDados"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intencao }}",
                    "rightValue": "transacaoFinanceira",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "45cb2c5d-a82b-4ebf-ad07-372f9736389a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Transacao"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8cac7d1f-246c-4127-85b7-23389cf9a0d9",
                    "leftValue": "={{ $json.intencao }}",
                    "rightValue": "consulta",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Consulta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e44d05b3-72d3-4e63-bb95-b243561541b0",
                    "leftValue": "={{ $json.intencao }}",
                    "rightValue": "lembrete",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Lembrete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7cd6481f-1957-4a1f-8ee1-385a2a8d00f8",
                    "leftValue": "={{ $json.intencao }}",
                    "rightValue": "indefinido",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Indefinido"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        4992,
        816
      ],
      "id": "d20209bc-dbd4-4d4b-b2e1-71aa6d77b385",
      "name": "RedirecionaUsuario"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Organiza Dados').item.json.whatsapp }}_intencao",
        "value": "={{ $json.output.intencao }}",
        "expire": true,
        "ttl": 180
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4352,
        928
      ],
      "id": "6c05e5fe-d6cd-47ed-ba17-6fdf29910b86",
      "name": "RegistraIntencao",
      "credentials": {
        "redis": {
          "id": "LLbD3U6rhQqfE91N",
          "name": "evolution-api-redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "intencao",
        "key": "={{ $('Organiza Dados').item.json.whatsapp }}_intencao",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3568,
        832
      ],
      "id": "f1551647-6a6c-47f0-9e71-31cd8a74824e",
      "name": "IntencaoEmAberto",
      "credentials": {
        "redis": {
          "id": "LLbD3U6rhQqfE91N",
          "name": "evolution-api-redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "019a828a-f117-4c63-9dae-e957aa6bd902",
              "leftValue": "={{ $json.intencao }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3776,
        832
      ],
      "id": "295ed0d8-987a-4d99-beee-9b6e077e5809",
      "name": "ExisteIntencao"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        4752,
        832
      ],
      "id": "73ef122b-5b16-40a6-b990-1de2c183a432",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fcc8cae0-62c3-4d6a-bad9-e5ebc21d4ab6",
              "name": "intencao",
              "value": "={{ $json.output.intencao }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4544,
        928
      ],
      "id": "f859b1e3-211f-42f6-999b-0edd7918b075",
      "name": "AjustaDadoIntencao"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"intencao\": \"dica\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        4208,
        1120
      ],
      "id": "db353145-4228-4549-b862-3f77549884d7",
      "name": "EstruturaResposta"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3984,
        1120
      ],
      "id": "32e18a2e-a81d-4696-ad02-a245a68315ee",
      "name": "ModeloIA",
      "credentials": {
        "openAiApi": {
          "id": "ipy1c8ijBGJzZg4Z",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "FinanceApp",
        "remoteJid": "={{ $('Organiza Dados').item.json.whatsapp }}",
        "messageText": "=👋 *Olá {{ $('Organiza Dados').item.json.firstname }}! Como posso ajudar?*\n\nSou seu assistente financeiro do FinanceApp e estou aqui para te ajudar com:\n\n💰 Consultas sobre suas finanças\n📊 Análises de gastos e receitas  \n📅 Lembretes de pagamentos\n💡 Dicas financeiras personalizadas\n\nComo posso te auxiliar hoje?\n\n---\n*FinanceApp - Seu assistente financeiro*",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        5632,
        1360
      ],
      "id": "eec7b489-6a23-4751-a42f-5c717257daba",
      "name": "MensagemErro",
      "credentials": {
        "evolutionApi": {
          "id": "3kyIcxiyPWbQboBL",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Organiza Dados').item.json.whatsapp }}_intencao"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        5808,
        1360
      ],
      "id": "3a399748-eabc-4ae8-8806-53635f4f47f0",
      "name": "LimpaIntencao",
      "credentials": {
        "redis": {
          "id": "LLbD3U6rhQqfE91N",
          "name": "evolution-api-redis"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5968,
        1360
      ],
      "id": "5b9e3ae6-6442-44c0-997d-6651d5adab4e",
      "name": "Finaliza"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        5536,
        656
      ],
      "id": "286e7d8f-c90b-4b14-aaaa-0a6307b67054",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ipy1c8ijBGJzZg4Z",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        6096,
        656
      ],
      "id": "ce04c0ca-245c-480a-92bb-deae55fe1e90",
      "name": "calculadora"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        5504,
        1120
      ],
      "id": "1cf846aa-7450-47ce-aeca-cb47c9f219e0",
      "name": "Model",
      "credentials": {
        "openAiApi": {
          "id": "ipy1c8ijBGJzZg4Z",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Organiza Dados').item.json.whatsapp }}_lembrete",
        "sessionTTL": 180
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        5632,
        1120
      ],
      "id": "c43d6849-3cbd-4b3a-9648-fc934e584941",
      "name": "Memory",
      "credentials": {
        "redis": {
          "id": "LLbD3U6rhQqfE91N",
          "name": "evolution-api-redis"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilize essa tool para salvar os lembretes.",
        "useCustomSchema": true,
        "tableId": "lembretes",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "userid",
              "fieldValue": "={{ $fromAI('userId') }}"
            },
            {
              "fieldId": "descricao",
              "fieldValue": "={{ $fromAI('descricao') }}"
            },
            {
              "fieldId": "data",
              "fieldValue": "={{ $fromAI('data') }}"
            },
            {
              "fieldId": "valor",
              "fieldValue": "={{ $fromAI('valor') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        5744,
        1120
      ],
      "id": "5c3724c7-c880-442e-af74-e2949722ffca",
      "name": "salvaLembrete",
      "credentials": {
        "supabaseApi": {
          "id": "pLSlTAliGnTEMfL9",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilize essa tool para limpar a intencao.",
        "operation": "delete",
        "key": "={{ $('Organiza Dados').item.json.whatsapp }}_intencao"
      },
      "type": "n8n-nodes-base.redisTool",
      "typeVersion": 1,
      "position": [
        6032,
        1120
      ],
      "id": "50437c25-ff3f-495d-b395-151e24f991ed",
      "name": "apagaIntencao",
      "credentials": {
        "redis": {
          "id": "LLbD3U6rhQqfE91N",
          "name": "evolution-api-redis"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "FinanceApp",
        "remoteJid": "={{ $('Organiza Dados').item.json.whatsapp }}",
        "messageText": "=📅 *Seus Compromissos | FinanceApp*\n\n{{ $('Organiza Dados').item.json.firstname }}, segue o resumo dos seus compromissos financeiros:\n\n{{ $json.output }}\n\n💡 *Dicas importantes:*\n• Configure alertas para datas próximas\n• Mantenha uma reserva para imprevistos\n• Revise seus compromissos mensalmente\n\nPrecisa de mais alguma informação? Estou aqui para ajudar!\n",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        6064,
        848
      ],
      "id": "4e7ae538-602a-4ccf-adba-3409f12a1e85",
      "name": "RespondeCliente",
      "credentials": {
        "evolutionApi": {
          "id": "3kyIcxiyPWbQboBL",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('CentralizaDados').item.json.content }}",
        "options": {
          "systemMessage": "=**Hora Atual:** `{{ $now }}`\n\n## Sua Tarefa como Assessor Financeiro IA\n\nVocê deve analisar a **Mensagem\\_Cliente** e fornecer **respostas, análises financeiras detalhadas e insights úteis**, como um assessor financeiro faria.\n\nInclua:\n\n* Maiores despesas\n* Resumos de gastos e receitas\n* Tendências financeiras\n* Respostas a perguntas específicas sobre finanças do usuário\n\n---\n\n## Guia de Utilização de Ferramentas\n\n### `transacoes`\n\n* **Use para:** Acessar o histórico completo de transações financeiras (despesas, receitas).\n* **Como usar:** Obtenha os dados brutos. Você é responsável por realizar as análises, como:\n\n  * Identificar a \"maior despesa\"\n  * Calcular totais por período ou categoria\n  * Comparar gastos entre períodos\n\n---\n\n### `lembrete`\n\n* **Use para:** Consultar lembretes financeiros registrados.\n* **Como usar:** Utilize esta ferramenta se a **Mensagem\\_Cliente** tratar de:\n\n  * Datas de pagamento\n  * Lembretes financeiros\n  * Compromissos financeiros agendados\n\n---\n\n### `consultaCategorias`\n\n* **Use para:** Obter informações sobre categorias de transações.\n* **Como usar:** Ative esta ferramenta se a **Mensagem\\_Cliente**:\n\n  * Pedir detalhes sobre categorias disponíveis\n  * Solicitar um resumo por categoria\n  * Tiver dúvidas sobre como categorizar transações\n\n---\n\n### `calculadora`\n\n* **Use para:** Realizar cálculos matemáticos precisos.\n* **Como usar:** Aplique quando precisar:\n\n  * Somar valores\n  * Calcular médias, percentuais ou projeções\n  * Analisar variações com base nos dados obtidos\n\n---\n\n### `apagaIntencaoConsulta`\n\n* **Use para:** Encerrar a consulta atual.\n* **Como usar:** Utilize quando a **Mensagem\\_Cliente** indicar:\n\n  * Que a dúvida foi resolvida\n  * Que não há mais solicitações abertas\n\n---\n\n## Processo Recomendado\n\n1. **Analise a Mensagem\\_Cliente**\n   Identifique a dúvida ou análise solicitada.\n\n2. **Selecione Ferramenta(s)**\n   Determine quais ferramentas utilizar para obter os dados necessários.\n\n3. **Execute e Processe**\n   Use as ferramentas e analise os dados retornados por conta própria.\n\n4. **Formule a Resposta**\n   Redija uma resposta clara, útil e precisa com base nos dados.\n\n5. **Gerencie a Conversa**\n   Se aplicável, utilize `apagaIntencaoConsulta` para encerrar o tópico.\n\n---\n\n### Importante - Formatação da Resposta\n- Mantenha formatação simples e profissional\n- Evite excesso de **, use * no texto\n- Evite usar ### no texto\n- Use listas claras com \"-\" \n- Formate valores monetários como \"R$ 1.000,00\"\n- Seja direto e objetivo nas análises\n\nSe quiser, posso transformar esse conteúdo em um bloco de markdown exportável para documentação ou sistemas externos. Deseja isso também?\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        5664,
        416
      ],
      "id": "e5452563-5667-4bfc-a87e-2b481c2c9213",
      "name": "Agente de Consulta"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "transacoes",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "userid",
              "condition": "eq",
              "keyValue": "={{ $('Auth').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        5696,
        656
      ],
      "id": "8717a192-e1eb-4cc1-b555-b5ad531d265a",
      "name": "transacoes",
      "credentials": {
        "supabaseApi": {
          "id": "pLSlTAliGnTEMfL9",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "lembretes",
        "limit": 10,
        "filters": {
          "conditions": [
            {
              "keyName": "userid",
              "condition": "eq",
              "keyValue": "={{ $('Auth').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        5824,
        656
      ],
      "id": "7af54f6d-c9ec-4835-8750-c933384241ab",
      "name": "lembretes",
      "credentials": {
        "supabaseApi": {
          "id": "pLSlTAliGnTEMfL9",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        6336,
        848
      ],
      "id": "a3c8f064-2703-4945-9ce6-82df9021c432",
      "name": "FinalizaLembrete"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        6288,
        -112
      ],
      "id": "a4930b07-912d-44a4-92e1-e9a6d453c58b",
      "name": "FinalizaTransacao"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilize essa tool para limpar a intencao.",
        "operation": "delete",
        "key": "={{ $('Organiza Dados').item.json.whatsapp }}_intencao"
      },
      "type": "n8n-nodes-base.redisTool",
      "typeVersion": 1,
      "position": [
        6224,
        656
      ],
      "id": "59b6f681-26e7-4af0-875f-6755b1528b49",
      "name": "apagaIntencaoConsulta",
      "credentials": {
        "redis": {
          "id": "LLbD3U6rhQqfE91N",
          "name": "evolution-api-redis"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "FinanceApp",
        "remoteJid": "={{ $('Organiza Dados').item.json.whatsapp }}",
        "messageText": "=🔍 *Consulta Financeira | FinanceApp*\n\nVeja {{ $('Verifica Usuario').item.json.firstname }}, segue abaixo as informações solicitadas:\n\n📊 {{ $json.output }}\n\nSe precisar de alguma ajuda, estou aqui.",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        6064,
        416
      ],
      "id": "7814f9f9-91fc-42b9-98a3-08958d9d34b5",
      "name": "RespondeClienteConsulta",
      "credentials": {
        "evolutionApi": {
          "id": "3kyIcxiyPWbQboBL",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "transacoes",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estabelecimento",
              "fieldValue": "={{ $fromAI('estabelecimento') }}"
            },
            {
              "fieldId": "valor",
              "fieldValue": "={{ $fromAI('valor') }}"
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{ $fromAI('tipo') }}"
            },
            {
              "fieldId": "category_id",
              "fieldValue": "={{ $fromAI('categoria') }}"
            },
            {
              "fieldId": "userid",
              "fieldValue": "={{ $fromAI('userId') }}"
            },
            {
              "fieldId": "detalhes",
              "fieldValue": "={{ $fromAI('detalhes') }}"
            },
            {
              "fieldId": "quando",
              "fieldValue": "={{ $fromAI('quando') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        5824,
        192
      ],
      "id": "e20be55f-a55f-4a9d-9314-fd96cba2ea90",
      "name": "add",
      "credentials": {
        "supabaseApi": {
          "id": "pLSlTAliGnTEMfL9",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "categorias",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "userid",
              "condition": "eq",
              "keyValue": "={{ $fromAI('userId') }}"
            },
            {
              "keyName": "nome",
              "condition": "like",
              "keyValue": "={{ $fromAI('nome_categoria') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        6336,
        192
      ],
      "id": "811dc3ab-c14a-4deb-90a5-26f5b4f0d416",
      "name": "categorias",
      "credentials": {
        "supabaseApi": {
          "id": "pLSlTAliGnTEMfL9",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utilize essa tool para limpar a intencao.",
        "operation": "delete",
        "key": "={{ $('Organiza Dados').item.json.whatsapp }}_intencao"
      },
      "type": "n8n-nodes-base.redisTool",
      "typeVersion": 1,
      "position": [
        6608,
        192
      ],
      "id": "381e041e-b5aa-46e8-92aa-71acfa82bdb3",
      "name": "limparIntencaoTransacao",
      "credentials": {
        "redis": {
          "id": "LLbD3U6rhQqfE91N",
          "name": "evolution-api-redis"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('CentralizaDados').item.json.content }}",
        "options": {
          "systemMessage": "=Hora atual: {{ $now }}\nMensagem do Cliente: {{ $('CentralizaDados').item.json.content }}\nuserId: {{ $('Organiza Dados').item.json.userId }}\n\nVocê é um assistente financeiro. Sua tarefa é identificar se a mensagem do cliente contém uma intenção de adicionar, editar ou remover uma transação financeira.\n\nExtraia os seguintes dados da transação:\n\n\n- categoria:\nAo identificar uma categoria mencionada pelo usuário, siga os passos abaixo:\n1. Pesquise na tool 'categorias' usando o nome da categoria identificada.\n2. Se a categoria for encontrada, utilize o ID correspondente.\n3. Se não for encontrada, utilize a tool 'addCategoria' para criar uma nova categoria com o nome mencionado pelo usuário e utilize o ID da nova categoria criada.\n\nImportante: Sempre utilize o ID da categoria nas transações, nunca o nome.\n\n- valor: Montante da transação. Procure por termos como \"total\", \"valor pago\", \"valor recebido\", etc.\n- categoria: Identifique a categoria mencionada, pesquise pelo nome usando a ferramenta \"categorias\" e utilize o ID correspondente. Caso não encontre, pesquise na tool 'categorias' a categoria outros.\n- tipo: Classifique como \"despesa\" ou \"receita\" com base no contexto. Na dúvida, considere como \"despesa\".\n- data: Use a data informada pelo cliente. Se não houver, utilize a data e hora atual: {{ $now }}.\n- descrição: Gere uma descrição amigável com até 200 caracteres.\n\nAções:\n\n- Para adicionar: use a ferramenta \"add\"\n- Para editar: use a ferramenta \"edit\"\n- Para remover: use a ferramenta \"delete\"\n\nSe a intenção for editar ou remover, sempre confirme com o cliente antes de executar:\n\"Você confirma que deseja [editar/remover] essa transação?\"\n\nApós a ação, utilize a ferramenta \"limparIntencaoTransacao\" e informe ao cliente que a operação foi concluída com sucesso de forma simples e objetiva.\n\nCaso precise localizar uma transação, utilize a ferramenta \"infoTransacoes\".\n\n*ATENÇÃO*: \n- Execute cada ferramenta de ação (add, edit, delete) apenas uma vez por solicitação. \n- Exectute a tool \"limparIntencaoTransacao\" sempre que utilizar uma das ações: add, edit ou delete.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        5664,
        -112
      ],
      "id": "308d8247-dfe9-4efb-b68e-a7da08b7a54b",
      "name": "Assistente Financeiro"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Organiza Dados').item.json.whatsapp }}_transacao",
        "sessionTTL": 660,
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        5696,
        192
      ],
      "id": "d8f16c38-6ed5-4420-a43c-3fb7e8cd5d23",
      "name": "memoriaTransacao",
      "credentials": {
        "redis": {
          "id": "LLbD3U6rhQqfE91N",
          "name": "evolution-api-redis"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        5536,
        192
      ],
      "id": "ea96865e-d0fb-44b3-b6a9-01eb7a07fab0",
      "name": "ModeloTransacao",
      "credentials": {
        "openAiApi": {
          "id": "ipy1c8ijBGJzZg4Z",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "transacoes",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $fromAI('transacaoId') }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "estabelecimento",
              "fieldValue": "={{ $fromAI('estabelecimento') }}"
            },
            {
              "fieldId": "valor",
              "fieldValue": "={{ $fromAI('valor') }}"
            },
            {
              "fieldId": "tipo",
              "fieldValue": "={{ $fromAI('tipo') }}"
            },
            {
              "fieldId": "category_id",
              "fieldValue": "={{ $fromAI('categoria') }}"
            },
            {
              "fieldId": "userid",
              "fieldValue": "={{ $fromAI('userId') }}"
            },
            {
              "fieldId": "detalhes",
              "fieldValue": "={{ $fromAI('detalhes') }}"
            },
            {
              "fieldId": "quando",
              "fieldValue": "={{ $fromAI('quando') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        5952,
        192
      ],
      "id": "5b00efd0-b142-464e-a226-2df2d18e4e7a",
      "name": "edit",
      "credentials": {
        "supabaseApi": {
          "id": "pLSlTAliGnTEMfL9",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "transacoes",
        "limit": 10,
        "matchType": "allFilters"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        6192,
        192
      ],
      "id": "e2f33824-44da-4d7f-bb4b-552b5b13c990",
      "name": "infoTransacoes",
      "credentials": {
        "supabaseApi": {
          "id": "pLSlTAliGnTEMfL9",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "transacoes",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $fromAI('transacaoId') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        6064,
        192
      ],
      "id": "941893e5-8218-4ee8-a7c1-16b35bfc598d",
      "name": "delete",
      "credentials": {
        "supabaseApi": {
          "id": "pLSlTAliGnTEMfL9",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "categorias",
        "limit": 10,
        "filters": {
          "conditions": [
            {
              "keyName": "userid",
              "condition": "eq",
              "keyValue": "={{ $('Auth').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        5952,
        656
      ],
      "id": "ae9389d4-ac6a-4e7e-bd36-6c0202c5179b",
      "name": "consultaCategorias",
      "credentials": {
        "supabaseApi": {
          "id": "pLSlTAliGnTEMfL9",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "categorias",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "userid",
              "fieldValue": "={{ $fromAI('userId') }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        6448,
        192
      ],
      "id": "4f298190-7287-4760-9cd4-9f4a4f3595e5",
      "name": "addCategoria",
      "credentials": {
        "supabaseApi": {
          "id": "pLSlTAliGnTEMfL9",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "lembretes",
        "limit": 10,
        "filters": {
          "conditions": [
            {
              "keyName": "userid",
              "condition": "eq",
              "keyValue": "={{ $('Auth').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        5888,
        1120
      ],
      "id": "32b2b25f-f83a-4d0a-a229-305e6cc0c06d",
      "name": "consultaLembretes",
      "credentials": {
        "supabaseApi": {
          "id": "pLSlTAliGnTEMfL9",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "verifica-zap",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        3792,
        2048
      ],
      "id": "cbdce9d8-9fc0-4517-a629-cc5574136b77",
      "name": "Webhook",
      "webhookId": "4533000b-25ba-425a-935f-d4c16cfbac37",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ckbF1AJmgIzR6EnG",
          "name": "Asaas API Teste"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e747675e-e7ae-4a83-bef1-090eb58b2c18",
              "name": "data[0].exists",
              "value": "={{ $json.data[0].exists }}",
              "type": "boolean"
            },
            {
              "id": "1d300520-6990-4172-9f57-91fc659aba0c",
              "name": "data[0].jid",
              "value": "={{ $json.data[0].jid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4224,
        2048
      ],
      "id": "8e2671a3-42a5-4a24-ae5a-85f0d2ea2515",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"exists\": \"{{ $json.data[0].exists }}\",\n\"whatsapp\": \"{{ $json.data[0].jid }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        4448,
        2048
      ],
      "id": "ab3ff3a2-8992-4850-91f4-e16a6a7f070d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "instanceName": "FinanceApp",
        "numbers": "={{ $json.whatsapp }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        4016,
        2048
      ],
      "id": "1c790ce4-e28d-4b84-8e41-d4eab245da21",
      "name": "Evolution API1",
      "credentials": {
        "evolutionApi": {
          "id": "3kyIcxiyPWbQboBL",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Valida whatsapp\n** Endpoint para verificação do número de whatsapp",
        "height": 420,
        "width": 960,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3728,
        1888
      ],
      "id": "0c942f25-03dd-4e6a-ada4-8a8b92144d83",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "function gerarSenha() {\n    const chars = '0123456789';\n    let senha = '';\n    \n    for (let i = 0; i < 7; i++) {\n        const indice = Math.floor(Math.random() * chars.length);\n        senha += chars[indice];\n    }\n    \n    return senha;\n}\n\nreturn {\n  senhaAleatoria: gerarSenha()\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        2032
      ],
      "id": "7902ec61-d9ac-43a5-af5c-e9ece3a3a36d",
      "name": "GeraSenhaAleatoria"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "FinanceApp | Conta Criada com Sucesso!",
        "message": "=<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" bgcolor=\"#f5f7fa\" style=\"font-family: Arial, sans-serif; padding: 40px 0;\">\n  <tr>\n    <td align=\"center\">\n      <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" bgcolor=\"#ffffff\" style=\"border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.05);\">\n        <!-- LOGO FINANCEAPP -->\n        <tr>\n          <td align=\"center\" style=\"padding: 30px 20px 10px;\">\n            <img src=\"https://finance-app-finance-app.rcnehy.easypanel.host/lovable-uploads/finance-logo-full.png\" alt=\"FinanceApp Logo\" width=\"180\" style=\"display: block; max-width: 100%; height: auto;\" onerror=\"this.style.display='none'\" />\n          </td>\n        </tr>\n        \n        <!-- CONTEÚDO PRINCIPAL -->\n        <tr>\n          <td style=\"padding: 20px 30px; color: #333333;\">\n            <h1 style=\"font-size: 24px; margin: 0 0 15px;\">🎉 Bem-vindo(a), {{ $json.nome.split(' ')[0] }}!</h1>\n            \n            <p style=\"font-size: 16px; line-height: 1.6; margin: 0 0 15px;\">\n              Estamos felizes em ter você com a gente! A partir de agora, você conta com uma plataforma completa para organizar suas finanças de forma prática e inteligente.\n            </p>\n\n            <!-- BENEFÍCIOS DO PLANO -->\n            <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" bgcolor=\"#f0f8ff\" style=\"border-radius: 6px; padding: 15px; margin: 20px 0;\">\n              <tr>\n                <td style=\"font-size: 16px; line-height: 1.6;\">\n                  <strong>💼 Com o seu plano FinanceApp, você poderá:</strong><br/>\n                  ✅ Registrar receitas e despesas automaticamente<br/>\n                  ✅ Receber lembretes de contas e metas<br/>\n                  ✅ Contar com um assistente financeiro sempre disponível\n                </td>\n              </tr>\n            </table>\n\n            <!-- DADOS DE ACESSO -->\n            <p style=\"font-size: 16px; line-height: 1.6; margin: 25px 0 10px;\">\n              🔐 <strong>Dados de Acesso:</strong>\n            </p>\n            <p style=\"font-size: 16px; background-color: #f8f8f8; padding: 12px 20px; border-radius: 6px; border: 1px solid #ddd;\">\n              <strong>Email:</strong> {{ $json.email }}<br/>\n              <strong>Senha:</strong> {{ $('GeraSenhaAleatoria').item.json.senhaAleatoria }}\n            </p>\n\n            <!-- LINK DE ACESSO -->\n            <p style=\"text-align: center; margin: 25px 0;\">\n              <a href=\"https://finance-app-finance-app.rcnehy.easypanel.host/auth\" style=\"background-color: #4f46e5; color: white; padding: 12px 30px; text-decoration: none; border-radius: 6px; font-weight: bold; display: inline-block;\">\n                🚀 Acessar FinanceApp\n              </a>\n            </p>\n\n            <!-- AVISO DE SEGURANÇA -->\n            <p style=\"font-size: 14px; color: #cc0000; margin: 10px 0 20px;\">\n              ⚠️ Por segurança, altere sua senha em: <strong>Perfil > Segurança > Alterar Senha</strong>\n            </p>\n\n            <!-- MENSAGEM DE SUPORTE -->\n            <p style=\"font-size: 16px; line-height: 1.6;\">\n              Se precisar de ajuda, estamos por aqui para o que for necessário.\n            </p>\n\n            <!-- ASSINATURA -->\n            <p style=\"font-size: 16px; line-height: 1.6; margin-top: 30px;\">\n              Forte abraço,<br/>\n              <strong>Equipe FinanceApp</strong>\n            </p>\n          </td>\n        </tr>\n        \n        <!-- RODAPÉ -->\n        <tr>\n          <td align=\"center\" style=\"font-size: 14px; color: #777777; padding: 20px;\">\n            © {{$now.format('yyyy')}} FinanceApp. Todos os direitos reservados.\n          </td>\n        </tr>\n      </table>\n    </td>\n  </tr>\n</table>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2112,
        2160
      ],
      "id": "17feb588-c73f-4467-b447-a9e01e9ec6bf",
      "name": "EnviaEmail",
      "webhookId": "e641ec5c-6b92-42ed-9ba3-3f33f8d9ec0f",
      "credentials": {
        "gmailOAuth2": {
          "id": "dDTVtQGSAQ7wty9s",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "FinanceApp",
        "remoteJid": "={{ $json.whatsapp }}",
        "messageText": "={{ $json.nome.split(' ').first() }}, bem-vindo(a) ao *FinanceApp*!\n\n✅ Conta criada com sucesso!\n\n🔑 *Acesso:*\nE-mail: {{ $json.email }}\nSenha: {{ $('GeraSenhaAleatoria').item.json.senhaAleatoria }}\nAcesse: https://finance-app-finance-app.rcnehy.easypanel.host\n\n⚠️ *Importante:* Por segurança, altere sua senha em:\n*Perfil > Segurança > Alterar Senha*\n\n--\n\n*Organize suas finanças com inteligência* 💡\n",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2112,
        1952
      ],
      "id": "33adf50f-1b9f-4c0b-9dca-9b7e7f4b137a",
      "name": "EnviaWhatsapp",
      "credentials": {
        "evolutionApi": {
          "id": "3kyIcxiyPWbQboBL",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assinatura/info",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2496,
        2048
      ],
      "id": "299664c1-31e5-4531-832f-16f3ed6210ac",
      "name": "InfoAssinatura",
      "webhookId": "6355fb13-e13b-448a-a72b-456aa343f6c8",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api-sandbox.asaas.com/v3/subscriptions/{{ $json.subscriptionId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2928,
        2048
      ],
      "id": "a1544fdf-5281-4fdf-8919-e44416429d49",
      "name": "RecuperadadosAssinatura",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xg1DOClhy0DEB6PF",
          "name": "Asaas API - Producao"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b5a0f51-6a58-4851-b748-d37b61f89ea0",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "37aead77-33dd-4b0c-8f26-b0816ee48b1b",
              "name": "dataAssinatura",
              "value": "={{ $json.dateCreated }}",
              "type": "string"
            },
            {
              "id": "36f9a800-59bf-4fd8-8ed9-7c7489b08130",
              "name": "valor",
              "value": "={{ $json.value }}",
              "type": "number"
            },
            {
              "id": "9f36767d-9383-4b28-8a1d-3ac60ce1c4cc",
              "name": "ciclo",
              "value": "={{ $json.cycle }}",
              "type": "string"
            },
            {
              "id": "620e5370-9f27-443a-b7dd-f671c9f2aef1",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "22833287-8e04-4eb7-8838-0197f43a5ed9",
              "name": "creditCard",
              "value": "={{ $json.creditCard }}",
              "type": "object"
            },
            {
              "id": "16a6e602-6237-4b59-a1b0-3b46d1c16276",
              "name": "proimoPagamento",
              "value": "={{ $json.nextDueDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3168,
        2048
      ],
      "id": "187fdeb1-3865-413a-b3a2-e1050560ec95",
      "name": "OrganizaInfoAssinatura"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        3392,
        2048
      ],
      "id": "acaedae9-4f66-4416-8dbe-d2f3b4214dea",
      "name": "RespostaInfoAssinatura"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36a07511-f2f5-41ed-8514-3b2f8ad30f82",
              "name": "subscriptionId",
              "value": "={{ $json.body.subscription }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2688,
        2048
      ],
      "id": "035f97f6-21ea-40c2-aee3-b0f6fa938678",
      "name": "OrganizaDadosRequisicao"
    },
    {
      "parameters": {
        "content": "## Informações Assinatura\n**Fluxo para retornar os dados da assinatura do usuario.",
        "height": 420,
        "width": 1300,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2384,
        1888
      ],
      "id": "e3909eea-656c-4160-9019-eb9d0a6794f4",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "height": 2120,
        "width": 6400,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        144,
        -4256
      ],
      "id": "9c7d1551-639a-4056-b2e7-c27f8a8165ba",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        4832,
        2016
      ],
      "id": "5af89d7b-4649-47ed-87c5-61ea8c8738ea",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "lembretes",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "data",
              "condition": "lte",
              "keyValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5056,
        2016
      ],
      "id": "d0c965b9-3c91-4a6b-ba29-7836e27dd4b8",
      "name": "ConsultaLembretes",
      "credentials": {
        "supabaseApi": {
          "id": "pLSlTAliGnTEMfL9",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.userid }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5568,
        2032
      ],
      "id": "ddd8b430-0af7-47f1-a223-cac6c5a1eda1",
      "name": "DadosUsuario",
      "credentials": {
        "supabaseApi": {
          "id": "pLSlTAliGnTEMfL9",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5296,
        2016
      ],
      "id": "b85df042-c980-45d3-9847-536cccee072c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5744,
        2032
      ],
      "id": "77ccfc1e-fb29-44a8-ba62-89877feb1f58",
      "name": "Wait1",
      "webhookId": "f2fc0bc7-36de-4aa1-803a-ab64f49c1730"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "FinanceApp",
        "remoteJid": "={{ $json.whatsapp }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        5904,
        2032
      ],
      "id": "d24db850-bf5e-4a77-b154-6c675925c135",
      "name": "Evolution API2",
      "credentials": {
        "evolutionApi": {
          "id": "3kyIcxiyPWbQboBL",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Envia lembretes\nWorkflow para envio dos lembretes diarios para os usuarios.",
        "height": 420,
        "width": 1380,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4752,
        1888
      ],
      "id": "ded4bb7f-02db-4adb-8798-d97ddcc7575e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "FinanceApp",
        "messageId": "=  {{ $('InicioChat').item.json.body.data.key.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1952,
        1232
      ],
      "id": "c6bcdb67-3cbc-4bd3-8e62-460c1bf91c98",
      "name": "Caso não recebemos o Base64 consultamos no EVOAPI",
      "credentials": {
        "evolutionApi": {
          "id": "3kyIcxiyPWbQboBL",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "customerId": "={{ $json.customerId }}"
      },
      "type": "n8n-nodes-asaas-pagamentos.asaas",
      "typeVersion": 1,
      "position": [
        976,
        2032
      ],
      "id": "f95a1ce9-9c30-42d3-bd4a-0877a1656877",
      "name": "DadosCliente",
      "credentials": {
        "asaasCredentialsApi": {
          "id": "R0LWfqnCggzFd5Cx",
          "name": "Asaas Sandbox"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        6240,
        416
      ],
      "id": "c09cfbd9-eb57-4a28-be90-4283d0912bf4",
      "name": "FinalizaConsulta"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('CentralizaDados').item.json.content }}",
        "options": {
          "systemMessage": "=Hora atual: {{ $now }}\n\nSua tarefa é identificar as informações do lembrete com o usuário e registrar na tool **salvaLembrete**. Após salvar o lembrete, execute a tool **apagaIntencao** para concluir a tarefa.\n\nCaso precise consultar algum lembrete, utilize a tool 'consultaLembretes'\n\nCampos a serem salvos:\n\n- **userId**: {{ $('Auth').item.json.id }}\n- **descricao**: Detalhes do lembrete.\n- **valor**: Preencha este campo apenas se o usuário informar um valor (esse campo deve ser no formato de número).\n- **data**: Use o formato **yyyy/mm/dd**. Se a data não estiver clara, pergunte ao usuário.\n\n**ATENÇÃO**:\n- Se faltarem informações obrigatórias como **data** ou **descrição**, pergunte ao usuário de forma direta e amigável.\n- Não repita ferramentas. Após salvar com sucesso, execute **apagaIntencao** apenas uma vez e siga com o fluxo.\n\n### Importante - Formatação da Resposta\n- Mantenha formatação simples e profissional\n- Evite excesso de **, use * no texto\n- Evite usar ### no texto\n- Use listas claras com \"-\" \n- Formate valores monetários como \"R$ 1.000,00\"\n- Seja direto e objetivo nas análises"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        5648,
        848
      ],
      "id": "32fb7934-6b21-41fb-96fe-bcbdd056c3f9",
      "name": "Assistente de Compromissos"
    }
  ],
  "pinData": {
    "ConfirmaPagamento": [
      {
        "json": {
          "headers": {
            "host": "finance-app-n8n-finance-app.rcnehy.easypanel.host",
            "user-agent": "Asaas_Hmlg/3.0",
            "content-length": "1391",
            "accept": "application/json",
            "accept-encoding": "gzip",
            "cache-control": "no-cache",
            "content-type": "application/json",
            "pragma": "no-cache",
            "traceparent": "00-690ff7590000000027b8eecbcc86ab4b-07d2d61d35f7e155-00",
            "tracestate": "dd=s:0;p:07d2d61d35f7e155;t.tid:690ff75900000000",
            "x-datadog-parent-id": "563748324322566485",
            "x-datadog-sampling-priority": "0",
            "x-datadog-tags": "_dd.p.tid=690ff75900000000",
            "x-datadog-trace-id": "2862300122271099723",
            "x-forwarded-for": "54.232.48.115",
            "x-forwarded-host": "finance-app-n8n-finance-app.rcnehy.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "e07b9cbb0116",
            "x-real-ip": "54.232.48.115"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "evt_05b708f961d739ea7eba7e4db318f621&12509517",
            "event": "PAYMENT_CREATED",
            "dateCreated": "2025-11-08 23:07:20",
            "payment": {
              "object": "payment",
              "id": "pay_su1scsy69q6bkllf",
              "dateCreated": "2025-11-08",
              "customer": "cus_000007204195",
              "subscription": "sub_vpcse0r36xqq8dk1",
              "checkoutSession": null,
              "paymentLink": "wd9ab0oz9zwiorci",
              "value": 29.99,
              "netValue": 28.91,
              "originalValue": null,
              "interestValue": null,
              "description": "",
              "billingType": "CREDIT_CARD",
              "confirmedDate": "2025-11-08",
              "creditCard": {
                "creditCardNumber": "4242",
                "creditCardBrand": "VISA",
                "creditCardToken": "73e4923d-8b7a-4dd9-b92c-58cd861cb2f2"
              },
              "pixTransaction": null,
              "status": "CONFIRMED",
              "dueDate": "2025-11-08",
              "originalDueDate": "2025-11-08",
              "paymentDate": null,
              "clientPaymentDate": "2025-11-08",
              "installmentNumber": null,
              "invoiceUrl": "https://sandbox.asaas.com/i/su1scsy69q6bkllf",
              "invoiceNumber": "11900387",
              "externalReference": null,
              "deleted": false,
              "anticipated": false,
              "anticipable": false,
              "creditDate": "2025-12-10",
              "estimatedCreditDate": "2025-12-10",
              "transactionReceiptUrl": "https://sandbox.asaas.com/comprovantes/2617210049308594",
              "nossoNumero": null,
              "bankSlipUrl": null,
              "lastInvoiceViewedDate": null,
              "lastBankSlipViewedDate": null,
              "discount": {
                "value": 0,
                "limitDate": null,
                "dueDateLimitDays": 0,
                "type": "FIXED"
              },
              "fine": {
                "value": 0,
                "type": "FIXED"
              },
              "interest": {
                "value": 0,
                "type": "PERCENTAGE"
              },
              "postalService": false,
              "escrow": null,
              "refunds": null
            }
          },
          "webhookUrl": "https://finance-app-n8n-finance-app.rcnehy.easypanel.host/webhook-test/confirma-pagamento",
          "executionMode": "test"
        }
      }
    ],
    "InicioChat": [
      {
        "json": {
          "headers": {
            "host": "finance-app-n8n-finance-app.rcnehy.easypanel.host",
            "user-agent": "axios/1.12.2",
            "content-length": "1460",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "finance-app-n8n-finance-app.rcnehy.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "e07b9cbb0116",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "FinanceApp",
            "data": {
              "key": {
                "remoteJid": "5513991357933@s.whatsapp.net",
                "remoteJidAlt": "270741886992471@lid",
                "fromMe": false,
                "id": "AC7092C43A046B08EBA6235D124FD120",
                "participant": "",
                "addressingMode": "pn"
              },
              "pushName": "Lincoln Gomes",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "Oi",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyIndexes": [],
                    "recipientKeyIndexes": [],
                    "senderKeyHash": {
                      "0": 205,
                      "1": 62,
                      "2": 150,
                      "3": 68,
                      "4": 121,
                      "5": 121,
                      "6": 195,
                      "7": 181,
                      "8": 50,
                      "9": 50
                    },
                    "senderTimestamp": {
                      "low": 1761686590,
                      "high": 0,
                      "unsigned": true
                    },
                    "recipientKeyHash": {
                      "0": 27,
                      "1": 215,
                      "2": 97,
                      "3": 202,
                      "4": 77,
                      "5": 34,
                      "6": 220,
                      "7": 51,
                      "8": 177,
                      "9": 253
                    },
                    "recipientTimestamp": {
                      "low": 1762637135,
                      "high": 0,
                      "unsigned": true
                    }
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": {
                    "0": 0,
                    "1": 22,
                    "2": 249,
                    "3": 29,
                    "4": 174,
                    "5": 182,
                    "6": 95,
                    "7": 211,
                    "8": 45,
                    "9": 179,
                    "10": 149,
                    "11": 158,
                    "12": 186,
                    "13": 31,
                    "14": 14,
                    "15": 186,
                    "16": 28,
                    "17": 177,
                    "18": 1,
                    "19": 222,
                    "20": 230,
                    "21": 57,
                    "22": 50,
                    "23": 255,
                    "24": 107,
                    "25": 15,
                    "26": 67,
                    "27": 37,
                    "28": 114,
                    "29": 49,
                    "30": 103,
                    "31": 247
                  }
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1762695822,
              "instanceId": "ea1385ac-6798-449b-bdd9-d37f9e3f6b92",
              "source": "android"
            },
            "destination": "https://finance-app-n8n-finance-app.rcnehy.easypanel.host/webhook-test/agente-financeiro",
            "date_time": "2025-11-09T10:43:43.029Z",
            "sender": "5511919570594@s.whatsapp.net",
            "server_url": "https://evolution.rcnehy.easypanel.host",
            "apikey": "AACA6FBC4D32-4F52-9329-321E8044F6F3"
          },
          "webhookUrl": "https://finance-app-n8n-finance-app.rcnehy.easypanel.host/webhook-test/agente-financeiro",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Verifica o Tipo de mensagem": {
      "main": [
        [
          {
            "node": "Caso não recebemos o Base64 consultamos no EVOAPI1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "InsereMSG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Caso não recebemos o Base64 consultamos no EVOAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "ListaMSGs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "MontaMSG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "CentralizaDados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analiza a Imagem": {
      "main": [
        [
          {
            "node": "CentralizaDados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converte o base64 em imagem": {
      "main": [
        [
          {
            "node": "Analiza a Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converte o base64 em áudio": {
      "main": [
        [
          {
            "node": "Transcreve o audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcreve o audio": {
      "main": [
        [
          {
            "node": "CentralizaDados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Caso não recebemos o Base64 consultamos no EVOAPI1": {
      "main": [
        [
          {
            "node": "Converte o base64 em imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth": {
      "main": [
        [
          {
            "node": "Organiza Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Usuario": {
      "main": [
        [
          {
            "node": "Verifica o Tipo de mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organiza Dados": {
      "main": [
        [
          {
            "node": "Verifica Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConfirmaPagamento": {
      "main": [
        [
          {
            "node": "FiltraDados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FiltraDados": {
      "main": [
        [
          {
            "node": "DadosCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CriaConta": {
      "main": [
        [
          {
            "node": "AtualizaInfoUser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VerificaNumeroWhats": {
      "main": [
        [
          {
            "node": "GeraSenhaAleatoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AtualizaInfoUser": {
      "main": [
        [
          {
            "node": "EnviaWhatsapp",
            "type": "main",
            "index": 0
          },
          {
            "node": "EnviaEmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InicioChat": {
      "main": [
        [
          {
            "node": "Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsereMSG": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ListaMSGs": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MontaMSG": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CentralizaDados": {
      "main": [
        [
          {
            "node": "IntencaoEmAberto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IdentificaIntencao": {
      "main": [
        [
          {
            "node": "RegistraIntencao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RegistraIntencao": {
      "main": [
        [
          {
            "node": "AjustaDadoIntencao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IntencaoEmAberto": {
      "main": [
        [
          {
            "node": "ExisteIntencao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExisteIntencao": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IdentificaIntencao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RedirecionaUsuario": {
      "main": [
        [
          {
            "node": "Assistente Financeiro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente de Consulta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Assistente de Compromissos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MensagemErro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "RedirecionaUsuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AjustaDadoIntencao": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "EstruturaResposta": {
      "ai_outputParser": [
        [
          {
            "node": "IdentificaIntencao",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "ModeloIA": {
      "ai_languageModel": [
        [
          {
            "node": "IdentificaIntencao",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MensagemErro": {
      "main": [
        [
          {
            "node": "LimpaIntencao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LimpaIntencao": {
      "main": [
        [
          {
            "node": "Finaliza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responde o Cliente": {
      "main": [
        [
          {
            "node": "FinalizaTransacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de Consulta",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "calculadora": {
      "ai_tool": [
        [
          {
            "node": "Agente de Consulta",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Model": {
      "ai_languageModel": [
        [
          {
            "node": "Assistente de Compromissos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Assistente de Compromissos",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "salvaLembrete": {
      "ai_tool": [
        [
          {
            "node": "Assistente de Compromissos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "apagaIntencao": {
      "ai_tool": [
        [
          {
            "node": "Assistente de Compromissos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "transacoes": {
      "ai_tool": [
        [
          {
            "node": "Agente de Consulta",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "lembretes": {
      "ai_tool": [
        [
          {
            "node": "Agente de Consulta",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "RespondeCliente": {
      "main": [
        [
          {
            "node": "FinalizaLembrete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "apagaIntencaoConsulta": {
      "ai_tool": [
        [
          {
            "node": "Agente de Consulta",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente de Consulta": {
      "main": [
        [
          {
            "node": "RespondeClienteConsulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add": {
      "ai_tool": [
        [
          {
            "node": "Assistente Financeiro",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "categorias": {
      "ai_tool": [
        [
          {
            "node": "Assistente Financeiro",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "limparIntencaoTransacao": {
      "ai_tool": [
        [
          {
            "node": "Assistente Financeiro",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Assistente Financeiro": {
      "main": [
        [
          {
            "node": "Responde o Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "memoriaTransacao": {
      "ai_memory": [
        [
          {
            "node": "Assistente Financeiro",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "ModeloTransacao": {
      "ai_languageModel": [
        [
          {
            "node": "Assistente Financeiro",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "edit": {
      "ai_tool": [
        [
          {
            "node": "Assistente Financeiro",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "infoTransacoes": {
      "ai_tool": [
        [
          {
            "node": "Assistente Financeiro",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "delete": {
      "ai_tool": [
        [
          {
            "node": "Assistente Financeiro",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultaCategorias": {
      "ai_tool": [
        [
          {
            "node": "Agente de Consulta",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "addCategoria": {
      "ai_tool": [
        [
          {
            "node": "Assistente Financeiro",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultaLembretes": {
      "ai_tool": [
        [
          {
            "node": "Assistente de Compromissos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Evolution API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GeraSenhaAleatoria": {
      "main": [
        [
          {
            "node": "CriaConta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InfoAssinatura": {
      "main": [
        [
          {
            "node": "OrganizaDadosRequisicao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RecuperadadosAssinatura": {
      "main": [
        [
          {
            "node": "OrganizaInfoAssinatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OrganizaInfoAssinatura": {
      "main": [
        [
          {
            "node": "RespostaInfoAssinatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OrganizaDadosRequisicao": {
      "main": [
        [
          {
            "node": "RecuperadadosAssinatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "ConsultaLembretes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConsultaLembretes": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DadosUsuario": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "DadosUsuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Evolution API2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Caso não recebemos o Base64 consultamos no EVOAPI": {
      "main": [
        [
          {
            "node": "Converte o base64 em áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DadosCliente": {
      "main": [
        [
          {
            "node": "VerificaNumeroWhats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RespondeClienteConsulta": {
      "main": [
        [
          {
            "node": "FinalizaConsulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assistente de Compromissos": {
      "main": [
        [
          {
            "node": "RespondeCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "87d97470-9f5a-40c6-87cb-e588892a6838",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e07e50cb3236592827143df3d4d99970f802c127aa310fd175b7fa02898a0c6"
  },
  "id": "LRmPAfCDMFI73nGg",
  "tags": []
}